@font-face {
    font-family: TimesR;
    src: url('fonts/RegTimes.otf');
}
.TimesR{
    font-family: TimesR; 
}

@font-face {
    font-family: StandR;
    src: url('fonts/RegStandard.otf');
}
.StandR{
    font-family: StandR; 
}

@font-face {
    font-family: TimesRI;
    src: url('fonts/RegItalicTimes.otf');
}
.TimesRI{
    font-family: TimesRI; 
}

@font-face {
    font-family: DurandusR;
    src: url('fonts/RegDurandus.otf');
}
.DurandusR{
    font-family: DurandusR; 
}

@font-face {
    font-family: FreeS;
    src: url('fonts/FreeSerif.otf');
}
.FreeS{
    font-family: FreeS; 
}

@font-face {
    font-family: FreeSi;
    src: url('fonts/FreeSerifItalic.otf');
}
.FreeSi{
    font-family: FreeSi; 
}

@font-face {
    font-family: Fust;
    src: url('fonts/Fust.otf');
}
.Fust{
    font-family: Fust; 
}

@font-face {
    font-family: Standard;
    src: url('fonts/standard-book.otf');
}
.Standard{
    font-family: Standard; 
}


body{
    margin: 0 auto;
    overflow-x: hidden;
    background: linear-gradient(rgb(255, 89, 89), hsl(12, 100%, 53%));
}

