:focus{
    border: 0;
    outline: none;
}

::selection{
    background-color: rgb(255, 58, 58);
    color: white;
}

.mob{
    display: none;
}

body{
    overflow-y: hidden;
}

a{
    color: unset;
    text-decoration: none;
}

.typeEdit:focus{
    border: 0;
    outline: none;
}

.tit{
    margin: 10px 5px;
    padding: 5px 8px 3px 8px;
    border-radius: 20px;
    background-color: rgb(37, 33, 33);
    border: 1px solid transparent ;
    color: rgb(27, 255, 160);
    display: inline-block;
    transition: .2s;
    font-size: 25px;
}

#nav{
    position: fixed;
    z-index: 15;
    left: 5vw;
    font-family: FreeS;
    color: white;
}
#nav a{
    margin: 10px 5px;
    padding: 5px 8px 3px 8px;
    border-radius: 20px;
    background-color: white;
    border: 1px solid rgb(255, 58, 58);
    color: blue;
    
    display: inline-block;
    transition: .2s;
    font-size: 25px;
}

#nav a:hover{
    background-color: blue;
    border-radius: 0;
    color: white;
}

#about{
    position: fixed;
    right: 5vw;
    font-family: Standard;
    z-index: 15;
    margin: 10px 5px;
    padding: 5px 8px 3px 8px;
    background-color: white;
    border: 1px solid rgb(255, 58, 58);
    color: blue;
    border-radius: 20px;
    transition: .2s;
    cursor: pointer;
    display: inline-block;
    font-size: 25px;
}

#about:hover{
    background-color: rgb(255, 58, 58);
    color: white;
    border-radius: 0;
    border: 1px solid blue;
}

.infoSect{
    position: sticky;
    display: none;
    top: 10px;
    left: 0;
    height: auto;
    width: auto;
    font-size: 25px;
    font-family: TimesR;
    padding-right: 25px;
    text-align: right;

}

.part{
    position: relative;
    display: block;
    min-height: 100vh;
    width: 100vw;
    border-radius: 100px;
}

#AboutC{
    position: fixed;
    bottom: 0;
    max-height: 0;
    z-index: 15;
    transition: .2s;
    width: 96vw;
    left: 0;
    font-family: Fust;
    border-radius: 50px 50px 0 0;
    font-size: 3vh;
    padding:0 2vw;
    display: block;
    background-color: rgb(255, 58, 58);
    color: white;
}

#AboutC em{
    font-family: Standard;
    font-size: 1.5vh;
    font-style: normal;
}

#AboutC strong{
    font-weight: normal;
    font-family: Standard;
    font-size: 2.5vh;
}

#AboutC a{
    text-decoration: underline;
    transition: .2s;
}

#AboutC a:hover{
    background-color: white;
    color: rgb(255, 58, 58);
}

.interstice{
    display: block;
    width: 100vw;
    border-radius: 150px;
    text-align: center;
    height: auto;
    white-space: nowrap;
    overflow-x: hidden;
    position: relative;
}
.inter{
    font-family: TimesR;
    padding: 5vh 0;
    white-space: nowrap;
    animation: 15s moove linear alternate infinite;
}
@keyframes moove {
    0%{
        margin-left: 0;
    }

    100%{
        margin-left: -100%;
    }
}

#int1{
    background-color: rgb(27, 255, 160);
    color: rgb(37, 33, 33);
    font-size: 10vh;
}
#int2{
    color: rgb(27, 255, 160);
    background-color: rgb(37, 33, 33);
    font-size: 20vh;
}
#int3{
    background-color: rgb(27, 255, 160);
    color: rgb(37, 33, 33);
    font-size: 5vh;
}
#int4{
    color: rgb(27, 255, 160);
    background-color: rgb(37, 33, 33);
    font-size: 18vh;
}

#int1 .alealetter{
    width: 10vh;
    text-align: center;
    display: inline-block;
}
#int2 .alealetter{
    width: 20vh;
    text-align: center;
    display: inline-block;
}
#int3 .alealetter{
    width: 5vh;
    text-align: center;
    display: inline-block;
}
#int4 .alealetter{
    width: 18vh;
    text-align: center;
    display: inline-block;
}
/* PARTIE 00000000 !!!!!!!!!!!!!!!!!!!!! */

#b0{
    background-color: rgb(255, 255, 255);
    z-index: 16;
    top: 0;
    transition: 1s;
    color: rgb(255, 58, 58);
    border-radius: 0;
    font-family: TimesR;
}

.animIntro{
    position: absolute;
    display: none;
    top:50%;
    left: 50%;
    transform: translate(-50% , -50%);
    mix-blend-mode: multiply;
    font-size: 120vh;
    overflow-x: hidden;
    height: auto;
    text-align: center;
}
.animIntro:nth-child(odd){
    color: rgb(162, 111, 255) ;
}
.animIntro:nth-child(even){
    color: rgb(43, 231, 159);
}


/* PARTIE 1 !!!!!!!!!!!!!!!!!!!!! */

#b1{
    background-color: white;
    color: white;
    font-family: TimesR;
}

#titleIntro{
    display: block;
    position: absolute;
    line-height: 12vh;
    text-align: center;
    width: auto;
    cursor:default;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 15vh;
}

.letter{
    position: absolute;
    font-size: 60vw;
    transform: translate(-50%,-50%);
    mix-blend-mode: multiply;
    display: block;
    transition: .3s;
}

.R{
    color: rgb(255, 64, 64);
}
.F{
    color: rgb(55, 101, 253);
}
#titleIntro .F{
    animation: FF infinite alternate ease-out 2s;
}
#titleIntro .R{
    animation: RR infinite alternate ease-out 2s;
}



@keyframes FF{
    0%{ padding-left: 0vw;}

    35%{ padding-left: 0vw;}

    100%{padding-left: 30vw;}
}

@keyframes RR{
    0%{ margin-left: 0vw;}

    35%{ margin-left: 0vw;}

    100%{margin-left: -15vw;}
}



/* PARTIE 2 !!!!!!!!!!!!!!!!!!!!! */


@keyframes gogo{
    0%{ font-size: 2vw; }

    25%{ font-size: 2vw; }

    75%{font-size: 70vw;}

    100%{font-size: 70vw;}
}

#b2{
    background-color: rgb(188, 116, 255);
    color: rgb(70, 255, 116);
    overflow: hidden;
    font-family: TimesR;
}

#size{
    font-family: StandR;
    display: block;
    position: absolute;
    line-height: 12vh;
    text-align: center;
    width: fit-content;
    word-break: keep-all;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 2vw;
    animation-duration: 5s;
    animation-name: gogo;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

/* PARTIE 3 !!!!!!!!!!!!!!!!!!!!! */

#b3{
    color: rgb(155, 79, 255);
    background-color: rgb(255, 243, 133);
    overflow: hidden;
    font-family: TimesR;
}

#typeTest{
    position: relative;
    text-align: center;
    font-size: 3.5vw;
    margin: 5vw 20vw;
    display: block;
    line-height: 2.7vw;
    width: 60vw;
}

#b3 em{
    font-family: TimesRI;
}

#ChangeText{
    position: relative;
    display: block;
    text-align: center;
    width: auto;
    margin: 5vw 0;
}

#ChangeText span{
    margin: 10px 5px;
    padding: 5px 8px 3px 8px;
    border-radius: 20px;
    background-color: white;
    font-family: FreeS;
    border: 1px solid rgb(255, 58, 58);
    color: blue;
    transition: .2s;
    display: inline-block;
    cursor: pointer;
    font-size: 25px;
}

#ChangeText span:hover{
    border-radius: 0;
    background-color: rgb(255, 58, 58) !important;
    color: white !important;
    border: 1px solid blue;
}

/* P4  !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

#b4{
    background-color: blueviolet;
    color: white;
    padding-bottom: 5vw;
}

#b4 ul{
list-style-type: none;
margin: 0;
padding: 0;
text-align: center;
}

#b4 li{
    text-align: center;
    margin: 0 3vw;
    padding: .5vw 1vw;
    border: 1px solid white;
    border-bottom: 1px solid transparent;
    border-radius: 25px;
    margin-top: 5vw;
    display: inline-block;
    cursor: pointer;
    transition: .2s;
    font-size: 6vw;
}
#b4 li:hover{
    background-color: white !important;
    color: rgb(188, 116, 255) !important;
    border-radius: 0;
}

#typetype{
    background-color: white;
    color: rgb(188, 116, 255);
    font-family: TimesR;
    border-radius: 100px;
    margin: 5vw 5vw 0 5vw;
    padding: 5vw 5vw  5vw 5vw;
    font-size: 8vw;
    line-height: 5vw;
}

/*  P5  !!!!!!!!!!!!!!!!!!!!!!!! */

:root{
    --eleCase :rgb(255, 58, 58);
}

@keyframes colo{
    0%{ --eleCase :rgb(255, 58, 58); }

    25%{ --eleCase :rgb(70, 255, 116); }

    75%{--eleCase :blueviolet;}

    100%{--eleCase :rgb(255, 58, 58);}
}

#b5{
    background-color: rgb(255, 255, 255);
    color: black;
}

#wrapright{
    position: relative;
    display: block;
    top: 0;
    margin-top: calc(-100vh + 5vw);
    margin-left: 50vw;
    margin-right: 5vw;
}
#Cfont{
  display: block;
  text-align: center;
}

#lettershow{
padding-top: 5vh;
padding-bottom: 5vw;
margin: 0 auto;
text-align: center;
}

.ct{
    display: inline-block;
    padding: 5px 15px;
    margin-right : 15px;
    margin-bottom: 15px;
    font-size: 3vh;
    border-radius: 25px;
    background-color: white;
    font-family: StandR;
    border: 1px solid rgb(255, 58, 58);
    cursor: pointer;
    color: rgb(255, 58, 58);
    transition: .2s !important;
}
.ct:hover{
    background-color: rgb(255, 58, 58) !important;
    color: white !important;
    border-radius: 0;
}

#lettershow canvas:hover{
    border: 1px solid transparent;
    background-color: var(--eleCase);
    border-bottom: 1px solid transparent;
    transition: .1s;
}
#lettershow canvas{
    transition: 1.5s;
    margin-bottom: -5px;
    border : 1px solid black;
    border-bottom: 1px solid transparent;
    padding: 0;
   
}

#BigLetter{
    position: sticky;
    margin-top: 5vw;
    vertical-align: top;
    top: 5vw;
    left: 5vw;
    margin-bottom: 5vw;
    border-radius: 50px;
    display: inline-block;
    border:1px solid rgb(255, 58, 58);
}

/* PARTIE 6 !!!!!!!*/

#b6{
    background-color: rgb(65, 61, 255);
    color: white;
    text-align: right;
    font-family: TimesR;
}

#selector{
    position: relative;
    width: 5vw;
    margin: 5vw 0;
    height: calc(100vh - 10vw);
    display: inline-block;
}
.FtS{
    position: relative;
    border: 1px solid white;
    border-bottom: 1px solid transparent;
    display: block;
    height: 4.4vw;
    padding: .6vw 0 0 0;
    text-align: center;
    cursor: pointer;
    width: 5vw;
    margin: 0 0 5vw 0;
    font-size: 3vw;
    transition: .2s;
    background-color: transparent;
    border-radius: 25px;
}

.FtS:hover{
    background-color: white !important;
    color: rgb(65, 61, 255) !important;
    border-radius: 0;
}

.tester{
    position: relative;
    border-radius: 50px;
    background-color: white;
    display: inline-block;
    text-align: left;
    min-height: calc(100vh - 20vw);
    padding: 5vw;
    vertical-align: top;
    transition: .2s;
    width: 27vw;
    color: rgb(65, 61, 255);
}

.tester:focus{
    background-color: rgb(171, 164, 255);
    color: white;
}

#testerOne{
    font-family: FreeS;
    font-size: 25px;
    margin: 5vw;
}

#testerTwo{
    font-family: TimesR;
    margin: 5vw 5vw 5vw 0;
    line-height: 27px;
    font-size: 33px;
}

/* PARTIE 7 !!!!!!!*/

#b7{
    background-color: white;
    color: rgb(255, 58, 58);
    font-family: TimesR;
    cursor: auto;
}

#fontEx{
    position: relative;
    font-family: FreeS;
    pointer-events: auto;
    padding: 5vw 20vw 5vw 5vw;
    color: rgb(55, 101, 253);
    font-size: 5vh;
}
#fontEx em{
    font-family: Standard;
    font-size: 4.3vh;
    font-style: normal;
}
#fontEx a{
    font-family: Fust;
    transition: .2s;
    cursor: pointer;
    text-decoration: underline 1px solid rgb(255, 58, 58);
}

#fontEx a:hover{
    background-color: rgb(255, 58, 58);
    color: white;
}

.link{
    display:inline-block;
    position: relative;
    text-align: center;
    vertical-align: center;
    pointer-events: none;
    width: auto;
    height: auto;
    padding: 0 1vw;
    margin: 0 10vw 4vw 0;
    font-size: 10vh;
    z-index: 14;

}
.lett img{
max-width: 10vw;
width: auto;
mix-blend-mode: multiply;
height: auto;
max-height: 10vw;
}

.numb img{

width: auto;
height: auto;
max-height: 10vw;
}

.flow{
    text-align: center;
    padding: 50px 0;
    display: block;
    font-size: 2vh;
    font-family: Standard;
    width: 90vw;
    color: rgb(255, 64, 64);
    margin-top: 50px;
}

.flow img{
    padding-bottom: 20px;
}


/* PARTIE 8 !!!!!!!*/

#b8{
    background-color: rgb(55, 101, 253);
    color: rgb(255, 58, 58);
    font-family: TimesR;
    cursor: auto;
}

.inuse{
    position: absolute;
    top: 50%;
    display: block;
    width: 70vw;
    height: auto;
    transition: .2s;
    left: 50%;

    transform: translate(-50%, -50%);
}


#cligne{
    animation: clicli 2s alternate infinite ;
}
#cligne2{
    animation: cli 2s alternate infinite ;
}


@keyframes clicli{
    0%{ filter:blur(0); }

    100%{filter:blur(.8rem);}
}

@keyframes cli{
    0%{ filter:blur(.8rem); }

    100%{filter:blur(0);}
}

#maybe{
    position: absolute;
    bottom: 0;
    display: block;
    text-align: center;
    margin-bottom: 50px;
    color: white;
    width: 100vw;
    font-family: standard;
    font-size: 3vh;
}


@media screen and (max-aspect-ratio: 1 / 1) {

    .desk{
        display: none;
    }
    .part{
        position: relative;
        display: block;
        min-height: 50vh;
        width: 100vw;
        border-radius: 50px;
    }

    #about{
        position: fixed;
        right: unset;
        width: 94vw;
        left: 0;
        top: 0;
        font-family: Standard;
        z-index: 15;
        margin: 3vw;
        padding:  .5vw 0;
        background-color: rgb(255, 58, 58);
        border: 1px solid transparent;
        color: rgb(255, 255, 255);
        border-radius: 50px;
        transition: .2s;
        text-align: center;
        cursor: pointer;
        display: inline-block;
        font-size: 3vh;
    }

    #AboutC{
        position: fixed;
        bottom: 0;
        max-height: 0;
        z-index: 15;
        transition: .2s;
        width: 90vw;
        left: 0;
        font-family: Fust;
        border-radius: 50px 50px 0 0;
        font-size: 3vh;
        padding:0 5vw;
        display: block;
        background-color: rgb(255, 58, 58);
        color: white;
    }

    #nav{
        display: none;
    }

    #b0{
        height: 100vh;
    }


    .animIntro{
        font-size: 80vh;
    }

    .inter{
        font-family: TimesR;
        padding: 2vh 0;
        white-space: nowrap;
        animation: 15s moove linear alternate infinite;
    }

    
    #int1{
        background-color: rgb(27, 255, 160);
        color: rgb(37, 33, 33);
        font-size: 7vh;
    }
    #int2{
        color: rgb(27, 255, 160);
        background-color: rgb(37, 33, 33);
        font-size: 4vh;
    }
    #int3{
        background-color: rgb(27, 255, 160);
        color: rgb(37, 33, 33);
        font-size:3vh;
    }
    #int4{
        color: rgb(27, 255, 160);
        background-color: rgb(37, 33, 33);
        font-size: 2vh;
    }
    
    #int1 .alealetter{
        width: 7vh;
    }
    #int2 .alealetter{
        width: 4vh;
    }
    #int3 .alealetter{
        width: 3vh;
    }
    #int4 .alealetter{
        width: 2vh;
    }

    /* P3 */


    #typeTest{
        position: relative;
        text-align: center;
        font-size: 6vw;
        margin: 5vw 5vw;
        display: block;
        line-height: 5vw;
        width: 90vw;
    }

    #ChangeText span{
        margin: 2vw 2vw;
        padding: 1vw 2vw;
        border-radius: 25px;
        background-color: white;
        font-family: FreeS;
        border: 0px solid rgb(255, 58, 58);
        color: blue;
        transition: .2s;
        display: inline-block;
        cursor: pointer;
        font-size: 2vh;
    }

    /* P4 */

    #typetype{
        background-color: white;
        color: rgb(188, 116, 255);
        font-family: TimesR;
        border-radius: 50px;
        font-size: 8vh;
        line-height: 6vh;
    }

    #b4 li{
        text-align: center;
        margin: 0 2.5vw;
        font-size: 6vw;
        padding: 1.5vw 2.5vw;
        border: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-radius: 15px;
        margin-top: 5vw;
        display: inline-block;
        cursor: pointer;
        background-color: white;
        color: rgb(188, 116, 255);
        transition: .2s;
    
    }

    /* P5 */

    #lettershow{
        padding-top: calc(5vw - 15px);
    }

    #lettershow canvas{
        transition: 1.5s;
        margin-bottom: -5px;
        border : 1px solid transparent;
        background-color: rgb(255, 58, 58);
        border-bottom: 1px solid transparent;
        padding: 0;
       
    }


    #wrapright{
        position: relative;
        display: block;
        top: 0;
        margin-top: 0;
        margin-left: 5vw;
        margin-right: 5vw;
    }

    #BigLetter{
        position: sticky;
        margin-top: 5vw;
        vertical-align: top;
        top: 10vw;
        z-index: 12;
        background-color: white;
        left: 5vw;
        margin-bottom: 5vw;
        border-radius: 50px;
        display: inline-block;
        border:1px solid rgb(255, 58, 58);
    }

    .ct{
        display: inline-block;
        padding: 5px 15px;
        margin-right : 15px;
        margin-bottom: 15px;
        font-size: 3vh;
        border-radius: 25px;
        background-color: rgb(255, 58, 58);
        font-family: StandR;
        border: 1px solid transparent;
        cursor: pointer;
        color: white;
        transition: .2s !important;
    }
    


    /*  P6 */

    #b6{
        padding-bottom: 5vw;
    }

    .FtS{
        position: relative;
        border: 1px solid transparent;
        border-bottom: 1px solid transparent;
        display: inline-block;
        height: auto;
        padding: 2vw;
        text-align: center;
        cursor: pointer;
        width: 5vw;
        margin: 0 2.5vw;
        font-size: 4vw;
        transition: .2s;
        background-color: white;
        color: rgb(65, 61, 255);
        border-radius: 15px;
    }

    #selector{
        position: relative;
        width: 100vw;
        margin: 5vw 0;
        height: auto;
        text-align: center;
        display: inline-block;
    }

    .tester{
        position: relative;
        border-radius: 50px;
        display: block;
        text-align: left;
        min-height: auto;
        padding: 5vw;
        transition: .2s;
        width: 80vw;
        color: rgb(65, 61, 255);
    }

    #testerOne{
        font-size: 2.5vh;
        margin: 0 5vw 5vw 5vw;
    }
    
    #testerTwo{
        margin: 0 0 0 5vw ;
        line-height: 2.7vh;
        font-size: 3.3vh;
    }


    /*  P7 */

    #fontEx{
        position: relative;
        font-family: FreeS;
        pointer-events: auto;
        padding: 5vw 5vw 5vw 5vw;
        color: rgb(55, 101, 253);
        font-size: 3vh;
    }

    #fontEx em{
        font-family: Standard;
        font-size: 2.5vh;
        font-style: normal;
    }

    .link{
        display:block;
        position: relative;
        text-align: center;
        pointer-events: none;
        width: 90vw;
        height: auto;
        padding:1vh 0 ;
        margin: 0;
        z-index: 14;
    
    }

    .lett{
        width: 90vw;
        padding: 0 5vw;
        text-align: center;
    }
    .numb{
        width: 90vw;
        padding: 0 5vw;
        text-align: center;
    }
    .lett img{
    mix-blend-mode: multiply;
    max-width: unset;
    width: auto;
    text-align: center;
    height: auto;
    margin: 0 auto;
    max-height: 15vh;
    }
    
    .numb img{
        max-width: unset;
        width: auto;
        margin: 0 auto;
        text-align: center;
        height: auto;
        max-height: 25vh;
    }


.flow{
    text-align: center;
    padding: 50px 0;
    display: block;
    font-size: 1.5vh;
    font-family: Standard;
    width: 90vw;
    color: rgb(255, 64, 64);
    margin-top: 50px;
}

.flow img{
    padding-bottom: 20px;
}

    

}